<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.walker.mapper.ArticleMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.walker.pojo.Article">
        <id column="article_id" property="articleId" />
        <result column="article_label_id" property="articleLabelId" />
        <result column="article_author" property="articleAuthor" />
        <result column="article_title" property="articleTitle" />
        <result column="article_summary" property="articleSummary" />
        <result column="article_type_id" property="articleTypeId" />
        <result column="article_content" property="articleContent" />
        <result column="article_content_html" property="articleContentHtml" />
        <result column="article_image" property="articleImage" />
        <result column="user_id" property="userId" />
        <result column="article_good_num" property="articleGoodNum" />
        <result column="article_view_num" property="articleViewNum" />
        <result column="article_community_id" property="articleCommunityId" />
        <result column="create_time" property="createTime" />
        <result column="recommend" property="recommend" />
        <result column="enable" property="enable" />
        <result column="is_delete" property="isDelete" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        article_id, article_label_id, article_author, article_title, article_summary, article_type_id, article_content, article_content_html, article_image, user_id, article_good_num, article_view_num, article_community_id, create_time, recommend, enable, is_delete
    </sql>

    <!--按单位统计查询文章数-->
    <select id="articleStatisticByOrg" parameterType="com.walker.vo.param.ArticleStatisticParam" resultType="com.walker.vo.ArticleStatisticVO">
        select substr(s.org_no,1,${orgLength}) orgNo, s.org_name orgName, count(1) articleNumber
        from bbs_article t
        join bbs_user u on t.user_id = u.id
        join bbs_sa_org s on u.org_no = s.org_no
        where t.is_delete = 0 and t.`enable` = 1
        <if test="orgNo != null and orgNo != ''">
            and s.org_no like concat(#{orgNo},'%')
        </if>
        <if test="startTime != null and startTime != ''">
            and t.create_time >= str_to_date(#{startTime},'%Y-%m-%d')
        </if>
        <if test="endTime != null and endTime != ''">
            AND T.create_time <![CDATA[<]]> DATE_ADD(str_to_date(#{endTime},'%Y-%m-%d'),INTERVAL 1 DAY)
        </if>
        group by substr(s.org_no,1,${orgLength}),s.org_name
    </select>

    <!--获取积分排名-->
    <select id="pointsRank" parameterType="com.walker.vo.param.PointsRankParam" resultType="com.walker.vo.PointsRankVO">
        SELECT t.*,
        -- 相同值序号不变，不同则+1
        @rank := IF(@prev_score = t.points, @rank, @rank + 1) AS rankNum,
        @prev_score := t.points -- 更新前一个分数为当前分数
        FROM (
        select * from (
        select t1.org_no orgNo,t1.org_name,ifnull(t2.posts,0) posts, ifnull(t3.replies,0) replies, (ifnull(t2.posts,0)*#{post}+ifnull(t3.replies,0)*#{reply})  points
        from  (
        select s.org_no,s.org_name
        from bbs_sa_org s where s.is_delete = 0 and s.org_no like concat(#{orgNo},'%') and length(s.org_no) <![CDATA[<=]]> ${orgLength}) t1
        left join (
        select substr(u.org_no,1,${orgLength}) org_no, count(1) posts
        from bbs_article t
        join bbs_user u on t.user_id = u.id
        where t.is_delete = 0 and t.`enable` = 1
        and u.org_no like concat(#{orgNo},'%')
        and t.create_time >= str_to_date(#{startTime},'%Y-%m-%d')
        AND t.create_time <![CDATA[<]]> DATE_ADD(str_to_date(#{endTime},'%Y-%m-%d'),INTERVAL 1 DAY)
        group by substr(u.org_no,1,${orgLength})) t2 on t1.org_no = t2.org_no
        left join (
        select substr(u.org_no,1,${orgLength}) org_no, count(1) replies
        from bbs_comment t
        join bbs_user u on t.comment_user_id = u.id
        where t.is_delete = 0 and t.`enable` = 1
        and u.org_no like concat(#{orgNo},'%')
        and t.comment_time >= str_to_date(#{startTime},'%Y-%m-%d')
        AND t.comment_time <![CDATA[<]]> DATE_ADD(str_to_date(#{endTime},'%Y-%m-%d'),INTERVAL 1 DAY)
        group by substr(u.org_no,1,${orgLength})) t3 on t1.org_no = t3.org_no ) p order by p.points desc,p.orgNo
        ) t,
        -- 初始化变量：@rank 初始为0，@prev_score 初始为一个不存在的值（避免首行判断错误）
        (SELECT @rank := 0, @prev_score := NULL) AS init_var
    </select>
</mapper>
