<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.walker.mapper.SaOrgMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.walker.pojo.SaOrg">
        <id column="id" property="id" />
        <result column="org_no" property="orgNo" />
        <result column="org_name" property="orgName" />
        <result column="p_org_no" property="pOrgNo" />
        <result column="org_tree" property="orgTree" />
        <result column="is_delete" property="isDelete" />
        <result column="is_ranking_selected" property="isRankingSelected" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, org_no, org_name, p_org_no, org_tree, is_delete, is_ranking_selected
    </sql>

</mapper>
