<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.walker.mapper.UserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.walker.pojo.User">
        <id column="id" property="id" />
        <result column="username" property="username" />
        <result column="password" property="password" />
        <result column="nickname" property="nickname" />
        <result column="portrait" property="portrait" />
        <result column="gender" property="gender" />
        <result column="introduce" property="introduce" />
        <result column="city" property="city" />
        <result column="fans" property="fans" />
        <result column="attention" property="attention" />
        <result column="good" property="good" />
        <result column="is_alive" property="isAlive" />
        <result column="is_delete" property="isDelete" />
        <result column="create_time" property="createTime" />
        <result column="phone" property="phone" />
        <result column="id_card" property="idCard" />
        <result column="org_no" property="orgNo" />
        <result column="user_type" property="userType" />
        <result column="personnel_id" property="personnelId" />
        <result column="is_first_login" property="isFirstLogin" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, username, password, nickname, portrait, gender, introduce, city, fans, attention, good, is_alive, is_delete, create_time, phone, id_card, org_no, user_type, personnel_id, is_first_login
    </sql>

    <update id="updateUserRole">
        update bbs_user set user_type = #{roleType} where id = #{userId}
    </update>

</mapper>
